//####### HELPERS ########
.border
    border: 1px solid #000
.block-center
    margin: 0 auto;
    display: block;

//####### TIPOGRAPHY ########
p, a, span, h1, h2, h3, h4, h5
    font-family: 'Ubuntu', sans-serif;
    color: #333;

$cinza_escuro = #36424a;
$cinza_claro = #EEEEEE;
$azul = #0483B5;
$laranja = #E84C1C;
$verde = #05C290;
$text_footer = #fff;


//####### MEDIA ########
@media (min-width: 1400px) {
    .col-xg-4 {
        width: 25%;
    }
}

//####### STRUCTURE ########
.form-control:focus
    border-color: #ccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
body
    background: $cinza_claro
.icon
    display: block;
    text-indent: -9999px;
    float: left;
.icon-search
    width: 32px;
    height: 32px;
    background: url(./../images/icons/icon-search.svg) no-repeat;
    background-size: 32px 32px;
.icon-code
    width: 25px;
    height: 25px;
    background: url(./../images/icons/icon-code.svg) no-repeat;
    background-position: center;
    background-size: 17px;
#postContent
    padding-top: 20px;
#about
    background-color: $azul;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    h4
        color: #fff;
        font-size: 25px;
        line-height: 30px;
        font-weight: 300;
        font-family: 'Lato', sans-serif;


//####### FOOTER ########
footer
    width: 100%;
    min-height: 155px;
    background-color: $cinza_escuro;
    position: relative;
    border-top: 1px solid #fff;
    position: relative;
    .borda
        height: 4px;
        &.laranja
            background-color: $laranja;
        &.azul
            background-color: $azul;
        &.verde
            background-color: $verde;
    .logo-footer
        img
            display: block;
            margin: 15px auto 0 auto;
    .descricao
        padding-top: 15px;
        h4
            color: $text_footer;
            text-align: justify;
            font-size: 15px;
            line-height: 1.85em;
    .credits
        p
            margin-top: 118px;
            color: #ccc;
            bottom: 0;
