//####### HELPERS ########
.border
    border: 1px solid #000
.block-center
    margin: 0 auto;
    display: block;

//####### TIPOGRAPHY ########
p, a, span, h1, h2, h3, h4, h5
    font-family: 'Ubuntu', sans-serif;
    color: #333;

$cinza_escuro = #36424a;
$cinza_claro = #EEEEEE;
$azul = #0483B5;
$laranja = #E84C1C;
$verde = #05C290;


//####### STRUCTURE ########
body
    background: $cinza_claro
.icon
    display: block;
    text-indent: -9999px;
    float: left;
.icon-search
    width: 32px;
    height: 32px;
    background: url(./../images/icons/icon-search.svg) no-repeat;
    background-size: 32px 32px;
.icon-code
    width: 25px;
    height: 25px;
    background: url(./../images/icons/icon-code.svg) no-repeat;
    background-position: center;
    background-size: 17px;
#postContent
    padding-top: 20px;
